@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    /* Added background image */
    background-image: url('../assets/images/background.png');
    background-size: cover;
    background-position: center bottom;
    image-rendering: pixelated;
    /* For crisp pixel art if applicable */
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

#game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}